.parcours-section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin-bottom: 3rem;
    white-space: nowrap;

    .right-line, .left-line {
        width: 80%;
        height: 2px;
        background: black;
    }

    .right-line {
        margin-right: 10px;
    }

    .left-line {
        margin-left: 10px;
    }
}

@import '_article-items.scss';