#skills {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 5rem;

    .linked-experience {
        color: black;
        margin: 7px 0;

        &:hover {
            color: $hovered-table-link;
        }

        &::before {
            content: "";
            background: url("assets/images/link-icon.svg") no-repeat center/cover;
            position: absolute;
            margin-left: -30px;
            right: 290px;
            width: 20px;
            height: 20px;
        }
    }

    thead tr {
        background: $background-row-color;
    }

    tbody {
        td, th {
            background: $background-cell-color;
        }

        th:not([rowspan]) {
            font-weight: normal;
            font-size: 1.6rem;
        }

        .empty-cell {
            height: 40px;
            background: $background-empty-cell-color;
        }
    }

    th, td {
        border: solid 1px $border-table-cell;
        min-height: 50px;
        text-align: center;
        word-wrap: break-word;

        &:last-child {
            width: 33%;
        }
    }

    td {
        font-size: 1.6rem;

        ul {
            margin: 10px 30px 15px;
            list-style: none;
            width: 250px;

            li {
                margin: 5px 0;
            }
        }
    }

    th {
        font-size: 1.8rem;
        padding: 7px 10px;
        min-width: 300px;
    }
  }