# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
# dependencies
/node_modules/*
/node_modules

# IDEs and editors
/.idea
# .vscode/
# /.vscode

# IDE - VSCode
/.vs
.vs/*
/.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
package-lock.json
gulpfile.js
styles.css.map
styles.scss
.vscode/tasks.json

# System Files
.DS_Store
Thumbs.db

/assets/tmp/*

package-lock.json
