* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

main {
    margin: 30px 10px 0;
    position: relative;
    z-index: 0;
  }

@import 'assets/header.scss';
@import 'assets/section.scss';
@import 'assets/media-screens.scss';